{
  "presets": [
    [ "minify", { "evaluate": false, "mangle": true, "keepFnName": true}],
    [ "@babel/preset-env" ]
  ],

  "plugins": [
    "@babel/transform-runtime",

    ["@babel/plugin-proposal-decorators", { "legacy": true }],

    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ]
}