
registry            "https://registry.npmjs.org/"
force               true
no-lockfil          true
pure-lockfile       true

--add.registry          "https://registry.npmjs.org/"
--add.no-default-rc     true
--add.no-lockfil        true
--add.pure-lockfile     true
# --add.no-progress     true